<h2 class="title">Movies List</h2>

<div class="contenr">
  <button class="btn-add btn btn-primary" (click)="openCreate()">Add movie</button>
  <!-- <button class="btn-add btn btn-primary" (click)="openSearch()">Search movie</button> -->
</div>

<div class="movies-list">
  <app-movie *ngFor="let movie of movieService.getMovieList()" [movie]="movie" (eventRemove)="openRemove($event)"
    (eventUpdate)="openUpdate($event)"></app-movie>
</div>

<ngx-smart-modal #create identifier="create">
  <h1>add movie</h1>
  <form>
    <div *ngIf="validateService.isTitleExists" class="div-validate"><strong> The title all ready exists </strong></div>
    <div class="center-group">
      <div class="form-group">
        <label for="id" class="col-sm-2 col-form-label">id</label>
        <div class="col-sm-5">
          <input #id type="text" class="form-control" id="id" [disabled]="true"
            value="{{this.movieService.autoIncrement}}">
        </div>
      </div>
      <br>
      <div class="form-group"><br>
        <label for="title" class="col-sm-2 col-form-label">title</label>
        <div class="col-sm-5">
          <input #titleCreate type="text" class="form-control" id="title" [disabled]="false" value="title">
        </div>
      </div>

      <div class="form-group"><br>
        <label for="year" class="col-sm-2 col-form-label">Year</label>
        <div class="col-sm-5">
          <input #yearCreate type="number" class="form-control" id="year" value="Year">
        </div>
      </div>

      <div class="form-group"><br>
        <label for="runTime" class="col-sm-2 col-form-label">Runtime</label>
        <div class="col-sm-5">
          <input #runTimeCreate type="text" class="form-control" id="runTime" value="Runtime">
        </div>
      </div>

      <div class="form-group"><br>
        <label for="genre" class="col-sm-2 col-form-label">Genre</label>
        <div class="col-sm-5">
          <select #genreCreate class="form-control">
            <option value="Drama">Drama</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Action">Action</option>
            <option value="Adventure">Adventure</option>
            <option value="Romance">Romance</option>
            <option value="Family">Family</option>
          </select>
        </div>
      </div>

      <div class="form-group"><br>
        <label for="director" class="col-sm-2 col-form-label">Director</label>
        <div class="col-sm-5">
          <input #directorCreate type="text" class="form-control" id="director" value="Director">
        </div>
      </div>
    </div>

    <div style=" height: 90px;  display: flex;  align-items: center; justify-content: space-evenly;">
      <button class="btn btn-default btn-md" (click)="create.close()">Close</button>
      <button
        (click)="sendCreate( titleCreate.value , yearCreate.value , runTimeCreate.value , genreCreate.value , directorCreate.value)"
        class="btn btn-primary btn-md active" role="button">Send</button>
    </div>
  </form>
</ngx-smart-modal>

<ngx-smart-modal #update identifier="update">
  <h1>update movie</h1>
  <div *ngIf="update.hasData()">
    <form>
      <div *ngIf="validateService.isTitleExists" class="div-validate"><strong> The title all ready exists </strong>
      </div>
      <div *ngIf="!validateService.dataIsValidate" class="div-validate"><strong> All filds can not be empty </strong>
      </div>
      <div class="center-group">
        <div class="form-group">
          <label for="id" class="col-sm-2 col-form-label">id</label>
          <div class="col-sm-5">
            <input #id type="text" class="form-control" id="id" [disabled]="true" value="{{update.getData().id}}">
          </div>
        </div>
        <br>
        <div class="form-group"><br>
          <label for="title" class="col-sm-2 col-form-label">title</label>
          <div class="col-sm-5">
            <input #title type="text" class="form-control" id="title" [disabled]="false"
              value="{{update.getData().Title}}">
          </div>
        </div>

        <div class="form-group"><br>
          <label for="year" class="col-sm-2 col-form-label">Year</label>
          <div class="col-sm-5">
            <input #year type="number" class="form-control" value="{{update.getData().Year}}">
          </div>
        </div>

        <div class="form-group"><br>
          <label for="runTime" class="col-sm-2 col-form-label">Runtime</label>
          <div class="col-sm-5">
            <input #runTime type="text" class="form-control" value="{{update.getData().Runtime}}">
          </div>
        </div>

        <div class="form-group"><br>
          <label for="genre" class="col-sm-2 col-form-label">Genre</label>
          <div class="col-sm-5">
            <input #genre type="text" class="form-control" value="{{update.getData().Genre}}">
          </div>
        </div>

        <div class="form-group"><br>
          <label for="director" class="col-sm-2 col-form-label">Director</label>
          <div class="col-sm-5">
            <input #director type="text" class="form-control" value="{{update.getData().Director}}">
          </div>
        </div>
      </div>

      <div class="btn-continer">
        <button class="btn btn-default" (click)="update.close()">Close</button>
        <button
          (click)="sendUpdate(id.value , title.value , year.value ,  runTime.value , genre.value , director.value)"
          class="btn btn-primary btn-md active" role="button">Send</button>
      </div>
    </form>
  </div>
</ngx-smart-modal>


<ngx-smart-modal #delete identifier="delete">
  <h3>Are you sure you want to delete?</h3>

  <div style=" height: 90px;  display: flex;  align-items: center; justify-content: space-evenly;">
    <button style=" height: 50px;  width: 120px;" class="btn btn-default" (click)="delete.close()">cancel</button>
    <button style="    height: 50px; width: 120px;" (click)="sendRemove()" class="btn btn-primary btn-md active"
      role="button">OK</button>
  </div>
</ngx-smart-modal>


<!-- <ngx-smart-modal #delete identifier="search">

</ngx-smart-modal> -->
