.movies-list{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    margin: 0 auto;
}

.title{
    text-align: center;
}

.contenr{
    text-align: center;
}
.btn-add{
    &:hover{
        opacity: 0.85;
      }
}